<a href="https://colab.research.google.com/github/TheXpingu1n/AI-Heart-UCI/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI Project (Heart Disease)
### **1- Preprocessing Data**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# initialising dataframe
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,3.0,145.0,233,1.0,0.0,150.0,0,2.3,0,0.0,1.0,1
1,37.0,1.0,2.0,130.0,250,0.0,1.0,187.0,0,3.5,0,0.0,2.0,1
2,41.0,0.0,1.0,130.0,204,0.0,0.0,172.0,0,1.4,2,0.0,2.0,1
3,56.0,1.0,1.0,120.0,236,0.0,1.0,178.0,0,0.8,2,0.0,2.0,1
4,NaN,0.0,0.0,120.0,354,0.0,1.0,163.0,1,0.6,2,0.0,2.0,1

In [ ]:
df.describe()

,age,sex,cp,trestbps,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,307.000000,309.000000,309.000000,308.000000,307.000000,309.000000,307.000000,310.000000,309.000000,310.000000,308.000000,308.000000,310.000000
mean,54.364821,0.679612,0.970874,131.750000,0.143322,0.533981,149.716612,0.322581,1.039806,1.403226,0.711039,2.298701,0.554839
std,9.138931,0.467383,1.039383,17.490598,0.350973,0.525002,22.931437,0.468220,1.151002,0.619523,1.013400,0.610760,0.497787
min,29.000000,0.000000,0.000000,94.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,0.000000,0.000000,120.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,0.000000,1.000000,166.500000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       307 non-null    float64
 1   sex       309 non-null    float64
 2   cp        309 non-null    float64
 3   trestbps  308 non-null    float64
 4   chol      305 non-null    object
 5   fbs       307 non-null    float64
 6   restecg   309 non-null    float64
 7   thalach   307 non-null    float64
 8   exang     310 non-null    int64
 9   oldpeak   309 non-null    float64
 10  slope     310 non-null    int64
 11  ca        308 non-null    float64
 12  thal      308 non-null    float64
 13  target    310 non-null    int64
dtypes: float64(10), int64(3), object(1)
memory usage: 34.0+ KB

Apparently, there is a column with type "Object" and we need to know its type, so we checked it by taking a random cell and then knowing its type.

In [ ]:
type(df['chol'].iloc[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       307 non-null    float64
 1   sex       309 non-null    float64
 2   cp        309 non-null    float64
 3   trestbps  308 non-null    float64
 4   chol      305 non-null    object
 5   fbs       307 non-null    float64
 6   restecg   309 non-null    float64
 7   thalach   307 non-null    float64
 8   exang     310 non-null    int64
 9   oldpeak   309 non-null    float64
 10  slope     310 non-null    int64
 11  ca        308 non-null    float64
 12  thal      308 non-null    float64
 13  target    310 non-null    int64
dtypes: float64(10), int64(3), object(1)
memory usage: 34.0+ KB

it is string, now we will change it to float64 and fill nulls with mean of chol.
But before doing this we want to remove outliers from the cells to have a real mean.
this will be done using various ways, each for the columns that fit a way of these ways.

Key Features:

1- age: Age of the patient

2- sex: Gender (1 = male; 0 = female)

3- cp: Chest pain type (0–3)

4- trestbps: Resting blood pressure

5- chol: Serum cholesterol (mg/dl)

6- fbs: Fasting blood sugar > 120 mg/dl (1 = true; 0 = false)

7- restecg: Resting electrocardiographic results

8- thalach: Maximum heart rate achieved

9- exang: Exercise-induced angina

10- oldpeak: ST depression induced by exercise

11- slope: Slope of the peak exercise ST segment

12- ca: Number of major vessels colored by fluoroscopy

13- thal: Thalassemia (3 = normal; 6 = fixed defect; 7 = reversible defect)

remove duplicates

In [ ]:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)
print(df.duplicated().sum())

8
0

here we will take action with columns that I can't replace its nulls and outliers with mean as it contains discrete values. *(we will call it **"discrete columns"**)*

by dropping it.

In [ ]:
#non null preprocessing (outliers)
#sex preprocessing
print(((df['sex'] != 0) & (df['sex'] != 1) & (df['sex'].notnull())).sum())
# output: 0
#cp preprocessing
print(((df['cp'] != 0) & (df['cp'] != 1) & (df['cp'] != 2) & (df['cp'] != 3) & (df['cp'].notnull())).sum())
# output: 0
#fbs preprocessing
print(((df['fbs'] != 0) & (df['fbs'] != 1) & (df['fbs'].notnull())).sum())
# output: 0
#restecg preprocessing
print(((df['restecg'] != 0) & (df['restecg'] != 1) & (df['restecg'] != 2) & (df['restecg'].notnull())).sum())
# output: 0
#exang preprocessing
print(((df['exang'] != 0) & (df['exang'] != 1) & (df['exang'].notnull())).sum())
# output: 0
#slope preprocessing
print(((df['slope'] != 0) & (df['slope'] != 1) & (df['slope'] != 2) & (df['slope'].notnull())).sum())
#ca preprocessing
print(((df['ca'] != 0) & (df['ca'] != 1) & (df['ca'] != 2) & (df['ca'] != 3) & (df['ca'] != 4) & (df['ca'].notnull())).sum())
# output: 0

0
0
0
0
0
0
0

Nulls processing of the discrete columns

In [ ]:
#preprocessing nulls
discreteList = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca','thal']
print(df.isna().sum())
print("Total null cells: ", df.isna().sum().sum())
#removing nulls from this list
df.dropna(subset=discreteList, inplace=True)
print(df.isna().sum())
print("Total null cells: ", df.isna().sum().sum())
print(df.describe())

age         2
sex         1
cp          1
trestbps    2
chol        5
fbs         3
restecg     1
thalach     3
exang       0
oldpeak     1
slope       0
ca          2
thal        2
target      0
dtype: int64
Total null cells:  23
age         2
sex         0
cp          0
trestbps    1
chol        3
fbs         0
restecg     0
thalach     1
exang       0
oldpeak     1
slope       0
ca          0
thal        0
target      0
dtype: int64
Total null cells:  8
              age         sex          cp    trestbps         fbs     restecg  \
count  293.000000  295.000000  295.000000  294.000000  295.000000  295.000000
mean    54.457338    0.688136    0.959322  131.704082    0.149153    0.522034
std      9.033559    0.464042    1.035939   17.764025    0.356844    0.520357
min     29.000000    0.000000    0.000000   94.000000    0.000000    0.000000
25%     48.000000    0.000000    0.000000  120.000000    0.000000    0.000000
50%     56.000000    1.000000    1.000000  130.000000    0.000000    1.000000
75%     61.000000    1.000000    2.000000  140.000000    0.000000    1.000000
max     77.000000    1.000000    3.000000  200.000000    1.000000    2.000000

          thalach       exang     oldpeak       slope          ca        thal  \
count  294.000000  295.000000  294.000000  295.000000  295.000000  295.000000
mean   149.438776    0.328814    1.039116    1.393220    0.711864    2.318644
std     22.859147    0.470580    1.166220    0.618277    1.004257    0.600588
min     71.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%    133.250000    0.000000    0.000000    1.000000    0.000000    2.000000
50%    152.500000    0.000000    0.800000    1.000000    0.000000    2.000000
75%    165.750000    1.000000    1.600000    2.000000    1.000000    3.000000
max    202.000000    1.000000    6.200000    2.000000    4.000000    3.000000

           target
count  295.000000
mean     0.542373
std      0.499048
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000

now we will change it to float64 and fill nulls with mean of chol and also capping outliers and fillna of other columns with ***continous*** values

In [ ]:
df['chol'] = pd.to_numeric(df['chol'], errors='coerce')  # converts invalid to NaN
#we need a list of features that we can replace its nulls with mean and its outliers with capping
listOfeatures = ['age','trestbps','thalach','oldpeak']
def capping_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[column] = df[column].clip(lower=lower_bound, upper=upper_bound)

#outliers removed!
# mean replaced NaN below
for feature in listOfeatures:
    capping_outliers(df, feature)
    df[feature] = df[feature].fillna(df[feature].mean())
    print(df[feature].describe())
    print(df[feature].isnull().sum())
df['chol'] = df['chol'].fillna(df['chol'].mean()).astype(float)  # fill NaN then convert
print(df['chol'].describe()) # checking that mean is ch
print(df['chol'].isnull().sum())
print(df.describe())

count    295.000000
mean      54.457338
std        9.002781
min       29.000000
25%       48.000000
50%       55.000000
75%       61.000000
max       77.000000
Name: age, dtype: float64
0
count    295.000000
mean     131.350340
std       16.764162
min       94.000000
25%      120.000000
50%      130.000000
75%      140.000000
max      170.000000
Name: trestbps, dtype: float64
0
count    295.000000
mean     149.484694
std       22.675482
min       84.500000
25%      133.500000
50%      152.000000
75%      165.500000
max      202.000000
Name: thalach, dtype: float64
0
count    295.000000
mean       1.023469
std        1.112006
min        0.000000
25%        0.000000
50%        0.800000
75%        1.600000
max        4.000000
Name: oldpeak, dtype: float64
0
count    295.000000
mean     246.996552
std       51.642248
min      126.000000
25%      212.000000
50%      243.000000
75%      275.000000
max      564.000000
Name: chol, dtype: float64
0
              age         sex          cp    trestbps        chol         fbs  \
count  295.000000  295.000000  295.000000  295.000000  295.000000  295.000000
mean    54.457338    0.688136    0.959322  131.350340  246.996552    0.149153
std      9.002781    0.464042    1.035939   16.764162   51.642248    0.356844
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    0.000000  120.000000  212.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  243.000000    0.000000
75%     61.000000    1.000000    2.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    3.000000  170.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  295.000000  295.000000  295.000000  295.000000  295.000000  295.000000
mean     0.522034  149.484694    0.328814    1.023469    1.393220    0.711864
std      0.520357   22.675482    0.470580    1.112006    0.618277    1.004257
min      0.000000   84.500000    0.000000    0.000000    0.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  152.000000    0.000000    0.800000    1.000000    0.000000
75%      1.000000  165.500000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    4.000000    2.000000    4.000000

             thal      target
count  295.000000  295.000000
mean     2.318644    0.542373
std      0.600588    0.499048
min      0.000000    0.000000
25%      2.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max      3.000000    1.000000

# 2- Feature extraction and selection